#our-solutions{
    padding: 2rem 5rem;
}

.solution-title{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.solution-title span{
    color: var(--green-jussi)
}

.solution-list{
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}