*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    --green-jussi: #03FFA5;
    --pink-jussi: #EE0E7D;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Barlow", 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
